<div class="container mat-typography" id="landing">
	<h1>NU Open Educational Resources</h1>
	<h2>Free. Openly licensed. Textbooks.</h2>
	<div class="row">
		<div class="landing-blurb">
			<p>Welcome to Northwestern University's Open Educational Resources (OER) Library! This website lists professor-approved textbooks for free download and use in university courses.</p>
		</div>
	</div>
	<div class="row">
		<div class="landing-blurb">
			<p>The mission of the OER Library is to provide students with a repository of free textbooks that allow them to fulfill their major requirements at low cost. Managed by <a href="https://asg.northwestern.edu/">ASG.</a></p>
		</div>
	</div>
	<div class="row">
		<div class="landing-blurb" id="browse">
			<button md-button routerLink="/search" color="primary">Browse for Textbooks</button>
		</div>
	</div>
	<div class="row">
		<div class="landing-blurb" id="professors">
			<p><b>Faculty member?</b> <a routerLink="/login">Login here.</a></p>
		</div>
	</div>
</div>
