<div id="landing">
<div class="container">
	<h3 class="center">Northwestern's Open Textbook Library</h3>
	<h6 class="subtitle center">
		Free. Openly licensed. Textbooks. Welcome to the Northwestern OER system!
	</h6>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. In imperdiet dignissim aliquam. Vivamus pretium at magna dignissim aliquet. Praesent erat quam, porttitor sed magna vitae, ultrices bibendum neque. Nulla hendrerit sapien nisi, sed eleifend erat pulvinar ut. Donec eu pharetra libero. Donec mollis tempor risus, sed porttitor nibh tempus sed. Ut fringilla libero eu nibh ullamcorper, in dictum quam consectetur. Vivamus fringilla a leo a varius. Pellentesque laoreet metus sit amet eros finibus, vitae iaculis eros tempor. In sit amet diam non ipsum semper rutrum. Phasellus sit amet elit commodo, dictum augue id, condimentum lorem. Nulla malesuada, orci in accumsan lacinia, orci risus accumsan nunc, at lobortis ex orci id nibh. Pellentesque in iaculis nulla. Morbi faucibus augue et accumsan vulputate.
	</p>
	<div class="row">
		<div class="col s12 m6 center right-border">
			<h5 class="button-title">Students</h5>
			<a class="waves-effect waves-light btn-large" routerLink="/search">
				<i class="material-icons left">search</i>Find a textbook...
			</a>
		</div>
		<div class="col s12 m6 center">
			<h5 class="button-title">Professors</h5>
			<!-- This should go to a log-in page instead at some point. -->
			<a class="waves-effect waves-light btn-large" routerLink="/login">
				<i class="material-icons left">forward</i>Login
			</a>
		</div>
	</div>
</div>
</div>