p {
	line-height: 1.8em;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1000px;
}

.row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.landing-blurb {
	flex-basis: 100%;
}

#landing {
	padding-top: 10%;
}

#browse {
	text-align: center;
}

#professors {
	margin-top: 15px;
}

@media screen and (min-width: 800px) {
  .landing-blurb {
  	flex: 0.5;
  }
}