p {
	line-height: 1.8em;
}

.landing-blurb {
	flex-basis: 100%;
}

#landing {
	padding-top: 10%;
}

#browse {
	text-align: center;
}

#profs {
	margin-top: 15px;
}

@media screen and (min-width: 800px) {
  .landing-blurb {
  	flex: 0.5;
  }
}