<div class="container mat-typography">
	<div id="login">
		<form (ngSubmit)="onSubmitLogin()" #loginForm="ngForm">
			<div class="row">
				<md-input-container>
					<input mdInput id="username" name="username" type="text" [(ngModel)]="credentials.username" placeholder="NetID" required>
				</md-input-container>
			</div>
			<div class="row">
				<md-input-container>
					<input mdInput id="password" name="password" type="password" [(ngModel)]="credentials.password" placeholder="Password" required>
				</md-input-container>
			</div>
			<button md-button color="primary" type="submit" [disabled]="!loginForm.form.valid">Login</button>
		</form>
	</div>
	<div class="row">
		<p id="login-error">{{error}}</p>
	</div>
</div>