<div class="container mat-typography" id="course-view">
	<h1>{{course.subject}} {{course.catalog_num}}: {{course.title}}</h1>
	<h2>{{course.instructor}} - {{course.term}}</h2>
	<h3>Textbooks</h3>
	<div class="row">
		<div class="col card" *ngFor="let textbook of courseService.textbooks | async">
			<md-card>
				<md-card-title>{{textbook.title}}</md-card-title>
				<md-card-content>
					<p>Note from the instructor:</p>
					<p class="textbook-description">{{textbook.description}}</p>
				</md-card-content>
				<md-card-actions>
					<a target="_blank" href="{{textbook.link}}" md-button color="accent">Get this textbook!</a>
				</md-card-actions>
			</md-card>
		</div>
	</div>
	<p *ngIf="(courseService.textbooks | async)?.length == 0">
		Looks like there are no textbooks added for this course yet.
	</p>
</div>
