<div class="container">
	<h4>{{course.subject}} {{course.catalog_num}}: {{course.title}}</h4>
	<p>
		<b>Course Instructor:</b>&nbsp;{{course.instructor}} <br />
		<b>Quarter Offered:</b>&nbsp;{{course.term}} <br />
		<b>Catalog Number:</b>&nbsp;{{course.subject}} {{course.catalog_num}}
	</p>
	<div class="row"><div class="col offset-s1 s10 divider"></div></div>
	<h5>Course Textbooks</h5>
	<div *ngIf="courseService.textbooks.length">
		<div class="row" *ngFor="let textbook of courseService.textbooks">
			<div class="col s12 m6">
				<div class="card deep-purple">
          <div class="card-content white-text">
            <span class="card-title">{{textbook.title}}</span>
            <p>{{textbook.description}}</p>
          </div>
          <div class="card-action">
            <a href="{{textbook.link}}">Get this textbook!</a>
          </div>
        </div>
			</div>
		</div>
	</div>
	<h6 *ngIf="!courseService.textbooks.length" class="textbook-not-added">
		Looks like there are no textbooks added for this course yet.
	</h6>
</div>
