<div class="container">
	<h3>{{course.subject}} {{course.catalog_num}}: {{course.title}}</h3>
	<h5>Textbooks you've added to this course already</h5>
	<ul>
		<li *ngFor="let textbook of courseService.textbooks">
			<a href="{{textbook.link}}">{{ textbook.title }}</a>
			<button (click)="removeTextbook(textbook.key)">Remove</button>
	  </li>
	</ul>
	<h5>Add a new textbook</h5>
	<form (ngSubmit)="onSubmitTextbook()" #textbookForm="ngForm">
		<div class="form-group">
			<label for="textbook-title">Textbook Title</label>
			<input type="text" id="textbook-title" [(ngModel)]="textbookTitle" name="title" required><br>
			<label for="textbook-url">URL to Textbook</label>
			<input type="text" id="textbook-url" [(ngModel)]="textbookLink" name="link" required>
			OR
			<button type="button" (click)="uploadTextbook()">Choose File...</button><br>
			<button type="submit" [disabled]="!textbookForm.form.valid">Add Textbook</button>
		</div>
	</form>
</div>