/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1000px;
}

.row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.col {
	flex-basis: 100%;
}

@media screen and (min-width: 800px) {
  .col {
  	flex: 1;
  }
}