<div class="container mat-typography" id="search">
  <h1>NU Open Educational Resources</h1>
  <h2>Browse Textbooks</h2>
  <div class="row">
    <md-input-container class="col">
      <input mdInput id="searchText" type="search" class="validate" [value]="query.searchName" [(ngModel)]="query.searchName" placeholder="Search by course number, class name, or professor...">
    </md-input-container>
  </div>
  <md-nav-list>
    <!-- TODO: Do filtering within component via service. -->
    <div *ngFor="let subjectKey of subjectKeys">
      <div *ngIf="(subjects[subjectKey] | filterBy: query).length > 0">
        <h3 class="subject" md-subheader>{{subjectKey}}</h3>
        <a md-list-item *ngFor="let course of subjects[subjectKey] | filterBy: query" (click)="viewCourse(course)">
          <h4 md-line><b>{{course.subject + ' ' + course.catalog_num}}</b>: {{ course.topic ? course.topic : course.title }}</h4>
          <p md-line>{{course.instructor}}</p>
          <p md-line>{{course.term}}</p>
        </a>
        <md-divider></md-divider>
      </div>
    </div>
  </md-nav-list>
</div>